.root{
-adonia-blue: #00628a;
}

# used for edit mode
.standard-listview {
    -fx-control-inner-background: derive(-fx-base, 80%);
    -fx-selection-bar-non-focused: lightgrey;
}

# used for playback mode
.blue-listview {
    -fx-control-inner-background: derive(-adonia-blue,100%);
    -fx-selection-bar-non-focused: derive(-adonia-blue,70%);
}